@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
	--pale-blue: hsl(225, 100%, 94%);
	--bright-blue: hsl(245, 75%, 52%);

	--very-pale-blue: hsl(225, 100%, 98%);
	--desaturated-blue: hsl(224, 23%, 55%);
	--dark-blue: hsl(223, 47%, 23%);
	--white: hsl(0, 0%, 100%);


	--font-style: "Red Hat Display", sans-serif;
	--font-size: 1em;
	--font-medium: 500;
	--font-bold: 700;
	--font-black: 900;
}

*. *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	background: var(--pale-blue) url("images/pattern-background-desktop.svg") no-repeat;
	background-size: fit;
	font-family: "Red Hat Display", sans-serif;
	font-size: var(--font-size);
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
	display: block;
	width: 100%;
}

input, button, textarea, select {
	font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.card {
	background: var(--white);
	max-width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 1rem;
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.card__img img{
	border-radius: 1rem 1rem 0 0;
}

.card__content {
	color: var(--desaturated-blue);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	text-align: center;
	gap: 1.5rem;
}

.card__title {
	color: var(--dark-blue);
	font-weight: var(--font-black);
}

.card__subscription {
	width: 100%;
	background: var(--very-pale-blue);
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 1rem;
	padding: 1rem;
}

.card__subscription_details {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.card__subscription_plan h4 {
	color: var(--dark-blue);
	font-weight: var(--font-bold);
}

.card__subscription a {
	color: var(--bright-blue);
	font-weight: var(--font-bold);
}

.card__subscription a:hover {
	color: #766CF1;
	text-decoration: none;
}

.card__payment_button {
	width: 100%;
	background: var(--bright-blue);
	color: var(--white);
	font-weight: var(--font-bold);
	padding: 0.5rem 0rem;
	border: none;
	border-radius: 0.5rem;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.card__payment_button:hover {
	background: #766CF1;
	cursor: pointer;
}

.card__cancel_button {
	width: 100%;
	background: var(--white);
	color: var(--desaturated-blue);
	font-weight: var(--font-bold);
	padding: 0.5rem 0;
	border: none;
	border-radius: 0.5rem;
}

.card__cancel_button:hover {
	color: var(--dark-blue);
	cursor: pointer;
}

@media only screen and (max-width: 375px) {
	.body {
		background: var(--pale-blue) url("images/pattern-background-mobile.svg") no-repeat;
		background-size: fit;
	}

	.wrapper {
		padding: 1rem;
	}

	.card {
		width: auto;
	}
}